/*
CSSHue - open source CSS color pallet - vs 1.0.0
developed by: Felipe Barelli & Vinicius D'Ávila
https://github.com/csshue
*/

.fc-wood{color:#866327;}
.fc-wood-1{color:#493410;}
.fc-wood-2{color:#69512b;}
.fc-wood-3{color:#866327;}
.fc-wood-4{color:#9e7c42;}
.fc-wood-5{color:#bea16f;}
.fc-wood-6{color:#e3c695;}

.fc-flame{color:#e70f00;}
.fc-flame-1{color:#aa1919;}
.fc-flame-2{color:#c90606;}
.fc-flame-3{color:#e70f00;}
.fc-flame-4{color:#ec6964;}
.fc-flame-5{color:#f39692;}
.fc-flame-6{color:#fad4d2;}

.fc-rose{color:#e70082;}
.fc-rose-1{color:#aa1968;}
.fc-rose-2{color:#c90673;}
.fc-rose-3{color:#e70082;}
.fc-rose-4{color:#ec649f;}
.fc-rose-5{color:#f392bc;}
.fc-rose-6{color:#fad2e3;}

.fc-violet{color:#ad3696;}
.fc-violet-1{color:#7b0068;}
.fc-violet-2{color:#95057d;}
.fc-violet-3{color:#ad3696;}
.fc-violet-4{color:#bd61a8;}
.fc-violet-5{color:#cb84bc;}
.fc-violet-6{color:#ecc2dd;}

.fc-grape{color:#583796;}
.fc-grape-1{color:#2a1267;}
.fc-grape-2{color:#45237f;}
.fc-grape-3{color:#583796;}
.fc-grape-4{color:#765ca9;}
.fc-grape-5{color:#9d8ac4;}
.fc-grape-6{color:#ccbfe0;}

.fc-ocean{color:#0069ba;}
.fc-ocean-1{color:#00417f;}
.fc-ocean-2{color:#00549a;}
.fc-ocean-3{color:#0069ba;}
.fc-ocean-4{color:#3c83d0;}
.fc-ocean-5{color:#73a2d7;}
.fc-ocean-6{color:#b1cae8;}

.fc-turquoise{color:#008990;}
.fc-turquoise-1{color:#005a5f;}
.fc-turquoise-2{color:#007278;}
.fc-turquoise-3{color:#008990;}
.fc-turquoise-4{color:#00b4be;}
.fc-turquoise-5{color:#00cdd4;}
.fc-turquoise-6{color:#b5e3e5;}

.fc-emerald{color:#00a778;}
.fc-emerald-1{color:#006b50;}
.fc-emerald-2{color:#00845f;}
.fc-emerald-3{color:#00a778;}
.fc-emerald-4{color:#00be88;}
.fc-emerald-5{color:#00d498;}
.fc-emerald-6{color:#a7e2cf;}

.fc-weed{color:#48b13c;}
.fc-weed-1{color:#007f38;}
.fc-weed-2{color:#00993c;}
.fc-weed-3{color:#48b13c;}
.fc-weed-4{color:#88c265;}
.fc-weed-5{color:#bdd99e;}
.fc-weed-6{color:#deeccb;}

.fc-sun{color:#ffe300;}
.fc-sun-1{color:#e8b900;}
.fc-sun-2{color:#f5cc00;}
.fc-sun-3{color:#ffe300;}
.fc-sun-4{color:#ffee67;}
.fc-sun-5{color:#fff4a7;}
.fc-sun-6{color:#fff8d1;}

.fc-pumpkin{color:#ef8441;}
.fc-pumpkin-1{color:#b8541b;}
.fc-pumpkin-2{color:#d75b1e;}
.fc-pumpkin-3{color:#ef8441;}
.fc-pumpkin-4{color:#f4a97a;}
.fc-pumpkin-5{color:#f4c598;}
.fc-pumpkin-6{color:#fddfbc;}

.fc-stone{color:#989a95;}
.fc-stone-1{color:#3e4547;}
.fc-stone-2{color:#676965;}
.fc-stone-3{color:#989a95;}
.fc-stone-4{color:#c4c7c1;}
.fc-stone-5{color:#daddd7;}
.fc-stone-6{color:#f1f1ef;}

.bg-wood{background-color:#866327;}
.bg-wood-1{background-color:#493410;}
.bg-wood-2{background-color:#69512b;}
.bg-wood-3{background-color:#866327;}
.bg-wood-4{background-color:#9e7c42;}
.bg-wood-5{background-color:#bea16f;}
.bg-wood-6{background-color:#e3c695;}

.bg-flame{background-color:#e70f00;}
.bg-flame-1{background-color:#aa1919;}
.bg-flame-2{background-color:#c90606;}
.bg-flame-3{background-color:#e70f00;}
.bg-flame-4{background-color:#ec6964;}
.bg-flame-5{background-color:#f39692;}
.bg-flame-6{background-color:#fad4d2;}

.bg-rose{background-color:#e70082;}
.bg-rose-1{background-color:#aa1968;}
.bg-rose-2{background-color:#c90673;}
.bg-rose-3{background-color:#e70082;}
.bg-rose-4{background-color:#ec649f;}
.bg-rose-5{background-color:#f392bc;}
.bg-rose-6{background-color:#fad2e3;}

.bg-violet{background-color:#ad3696;}
.bg-violet-1{background-color:#7b0068;}
.bg-violet-2{background-color:#95057d;}
.bg-violet-3{background-color:#ad3696;}
.bg-violet-4{background-color:#bd61a8;}
.bg-violet-5{background-color:#cb84bc;}
.bg-violet-6{background-color:#ecc2dd;}

.bg-grape{background-color:#583796;}
.bg-grape-1{background-color:#2a1267;}
.bg-grape-2{background-color:#45237f;}
.bg-grape-3{background-color:#583796;}
.bg-grape-4{background-color:#765ca9;}
.bg-grape-5{background-color:#9d8ac4;}
.bg-grape-6{background-color:#ccbfe0;}

.bg-ocean{background-color:#0069ba;}
.bg-ocean-1{background-color:#00417f;}
.bg-ocean-2{background-color:#00549a;}
.bg-ocean-3{background-color:#0069ba;}
.bg-ocean-4{background-color:#3c83d0;}
.bg-ocean-5{background-color:#73a2d7;}
.bg-ocean-6{background-color:#b1cae8;}

.bg-turquoise{background-color:#008990;}
.bg-turquoise-1{background-color:#005a5f;}
.bg-turquoise-2{background-color:#007278;}
.bg-turquoise-3{background-color:#008990;}
.bg-turquoise-4{background-color:#00b4be;}
.bg-turquoise-5{background-color:#00cdd4;}
.bg-turquoise-6{background-color:#b5e3e5;}

.bg-emerald{background-color:#00a778;}
.bg-emerald-1{background-color:#006b50;}
.bg-emerald-2{background-color:#00845f;}
.bg-emerald-3{background-color:#00a778;}
.bg-emerald-4{background-color:#00be88;}
.bg-emerald-5{background-color:#00d498;}
.bg-emerald-6{background-color:#a7e2cf;}

.bg-weed{background-color:#48b13c;}
.bg-weed-1{background-color:#007f38;}
.bg-weed-2{background-color:#00993c;}
.bg-weed-3{background-color:#48b13c;}
.bg-weed-4{background-color:#88c265;}
.bg-weed-5{background-color:#bdd99e;}
.bg-weed-6{background-color:#deeccb;}

.bg-sun{background-color:#ffe300;}
.bg-sun-1{background-color:#e8b900;}
.bg-sun-2{background-color:#f5cc00;}
.bg-sun-3{background-color:#ffe300;}
.bg-sun-4{background-color:#ffee67;}
.bg-sun-5{background-color:#fff4a7;}
.bg-sun-6{background-color:#fff8d1;}

.bg-pumpkin{background-color:#ef8441;}
.bg-pumpkin-1{background-color:#b8541b;}
.bg-pumpkin-2{background-color:#d75b1e;}
.bg-pumpkin-3{background-color:#ef8441;}
.bg-pumpkin-4{background-color:#f4a97a;}
.bg-pumpkin-5{background-color:#f4c598;}
.bg-pumpkin-6{background-color:#fddfbc;}

.bg-stone{background-color:#989a95;}
.bg-stone-1{background-color:#3e4547;}
.bg-stone-2{background-color:#676965;}
.bg-stone-3{background-color:#989a95;}
.bg-stone-4{background-color:#c4c7c1;}
.bg-stone-5{background-color:#daddd7;}
.bg-stone-6{background-color:#f1f1ef;}

.fc-vib-flame{color:#ff0000;}
.fc-vib-flame-1{color:#6b0000;}
.fc-vib-flame-2{color:#9b0000;}
.fc-vib-flame-3{color:#c90000;}
.fc-vib-flame-4{color:#ff0000;}
.fc-vib-flame-5{color:#ff9090;}
.fc-vib-flame-6{color:#ffc9c9;}

.fc-vib-rose{color:#ff00c9;}
.fc-vib-rose-1{color:#840067;}
.fc-vib-rose-2{color:#b0008c;}
.fc-vib-rose-3{color:#d400a8;}
.fc-vib-rose-4{color:#ff00c9;}
.fc-vib-rose-5{color:#ff90e4;}
.fc-vib-rose-6{color:#ffc9f3;}

.fc-vib-violet{color:#9000ff;}
.fc-vib-violet-1{color:#3c006b;}
.fc-vib-violet-2{color:#510090;}
.fc-vib-violet-3{color:#6c00be;}
.fc-vib-violet-4{color:#9000ff;}
.fc-vib-violet-5{color:#ca90ff;}
.fc-vib-violet-6{color:#e4c9ff;}

.fc-vib-ocean{color:#0078ff;}
.fc-vib-ocean-1{color:#000090;}
.fc-vib-ocean-2{color:#0000c9;}
.fc-vib-ocean-3{color:#0000ff;}
.fc-vib-ocean-4{color:#0078ff;}
.fc-vib-ocean-5{color:#90beff;}
.fc-vib-ocean-6{color:#c9dfff;}

.fc-vib-turquoise{color:#00f2ff;}
.fc-vib-turquoise-1{color:#004f53;}
.fc-vib-turquoise-2{color:#007177;}
.fc-vib-turquoise-3{color:#00b0b9;}
.fc-vib-turquoise-4{color:#00f2ff;}
.fc-vib-turquoise-5{color:#8ce6e9;}
.fc-vib-turquoise-6{color:#b0f4f7;}

.fc-vib-emerald{color:#00ff00;}
.fc-vib-emerald-1{color:#005f00;}
.fc-vib-emerald-2{color:#009b00;}
.fc-vib-emerald-3{color:#00c900;}
.fc-vib-emerald-4{color:#00ff00;}
.fc-vib-emerald-5{color:#90ff90;}
.fc-vib-emerald-6{color:#c9ffc9;}

.fc-vib-weed{color:#e6ff00;}
.fc-vib-weed-1{color:#759000;}
.fc-vib-weed-2{color:#9abe00;}
.fc-vib-weed-3{color:#c9f700;}
.fc-vib-weed-4{color:#e6ff00;}
.fc-vib-weed-5{color:#f3ff90;}
.fc-vib-weed-6{color:#f9ffc9;}

.fc-vib-sun{color:#ffff00;}
.fc-vib-sun-1{color:#ffb600;}
.fc-vib-sun-2{color:#ffc900;}
.fc-vib-sun-3{color:#ffdc00;}
.fc-vib-sun-4{color:#ffff00;}
.fc-vib-sun-5{color:#ffffa7;}
.fc-vib-sun-6{color:#ffffc9;}

.fc-vib-pumpkin{color:#ff8e00;}
.fc-vib-pumpkin-1{color:#5f3500;}
.fc-vib-pumpkin-2{color:#905000;}
.fc-vib-pumpkin-3{color:#c97000;}
.fc-vib-pumpkin-4{color:#ff8e00;}
.fc-vib-pumpkin-5{color:#ffc990;}
.fc-vib-pumpkin-6{color:#ffe4c9;}

.bg-vib-flame{background-color:#ff0000;}
.bg-vib-flame-1{background-color:#6b0000;}
.bg-vib-flame-2{background-color:#9b0000;}
.bg-vib-flame-3{background-color:#c90000;}
.bg-vib-flame-4{background-color:#ff0000;}
.bg-vib-flame-5{background-color:#ff9090;}
.bg-vib-flame-6{background-color:#ffc9c9;}

.bg-vib-rose{background-color:#ff00c9;}
.bg-vib-rose-1{background-color:#840067;}
.bg-vib-rose-2{background-color:#b0008c;}
.bg-vib-rose-3{background-color:#d400a8;}
.bg-vib-rose-4{background-color:#ff00c9;}
.bg-vib-rose-5{background-color:#ff90e4;}
.bg-vib-rose-6{background-color:#ffc9f3;}

.bg-vib-violet{background-color:#9000ff;}
.bg-vib-violet-1{background-color:#3c006b;}
.bg-vib-violet-2{background-color:#510090;}
.bg-vib-violet-3{background-color:#6c00be;}
.bg-vib-violet-4{background-color:#9000ff;}
.bg-vib-violet-5{background-color:#ca90ff;}
.bg-vib-violet-6{background-color:#e4c9ff;}

.bg-vib-ocean{background-color:#0078ff;}
.bg-vib-ocean-1{background-color:#000090;}
.bg-vib-ocean-2{background-color:#0000c9;}
.bg-vib-ocean-3{background-color:#0000ff;}
.bg-vib-ocean-4{background-color:#0078ff;}
.bg-vib-ocean-5{background-color:#90beff;}
.bg-vib-ocean-6{background-color:#c9dfff;}

.bg-vib-turquoise{background-color:#00f2ff;}
.bg-vib-turquoise-1{background-color:#004f53;}
.bg-vib-turquoise-2{background-color:#007177;}
.bg-vib-turquoise-3{background-color:#00b0b9;}
.bg-vib-turquoise-4{background-color:#00f2ff;}
.bg-vib-turquoise-5{background-color:#8ce6e9;}
.bg-vib-turquoise-6{background-color:#b0f4f7;}

.bg-vib-emerald{background-color:#00ff00;}
.bg-vib-emerald-1{background-color:#005f00;}
.bg-vib-emerald-2{background-color:#009b00;}
.bg-vib-emerald-3{background-color:#00c900;}
.bg-vib-emerald-4{background-color:#00ff00;}
.bg-vib-emerald-5{background-color:#90ff90;}
.bg-vib-emerald-6{background-color:#c9ffc9;}

.bg-vib-weed{background-color:#e6ff00;}
.bg-vib-weed-1{background-color:#759000;}
.bg-vib-weed-2{background-color:#9abe00;}
.bg-vib-weed-3{background-color:#c9f700;}
.bg-vib-weed-4{background-color:#e6ff00;}
.bg-vib-weed-5{background-color:#f3ff90;}
.bg-vib-weed-6{background-color:#f9ffc9;}

.bg-vib-sun{background-color:#ffff00;}
.bg-vib-sun-1{background-color:#ffb600;}
.bg-vib-sun-2{background-color:#ffc900;}
.bg-vib-sun-3{background-color:#ffdc00;}
.bg-vib-sun-4{background-color:#ffff00;}
.bg-vib-sun-5{background-color:#ffffa7;}
.bg-vib-sun-6{background-color:#ffffc9;}

.bg-vib-pumpkin{background-color:#ff8e00;}
.bg-vib-pumpkin-1{background-color:#5f3500;}
.bg-vib-pumpkin-2{background-color:#905000;}
.bg-vib-pumpkin-3{background-color:#c97000;}
.bg-vib-pumpkin-4{background-color:#ff8e00;}
.bg-vib-pumpkin-5{background-color:#ffc990;}
.bg-vib-pumpkin-6{background-color:#ffe4c9;}